img{
    width: 50%;
    margin: 10%;
    padding-left:10% ;
    height: 500px;
    width: 500px;
}
.details{
    margin: 20px 10px;
    padding: 10px;
}
.priceList{
    width: 265px;
    margin: 20px;
}
.grindTotal{
    margin: 50px;
}
.body{
 width: 80%;
}
#promoCode{
    margin-right: 5px;
    padding: 3px;
}